/* Main colors */

body {
    margin: 0;
    background-color: #0f0f14;
    color: #e6e6eb;
    font-family: "Courier New", monospace;
}

.navbar {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    

    background-color: #0f0f14;
}

/* Navigation */

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 32px;
}

.nav-links a {
    position: relative;

    color: #b8b8c3;
    text-decoration: none;

    font-size: 16px;
    font-weight: 600;

    padding: 10px 0;

    transition: color 0.2s ease;
}

/* Hover */

.nav-links a:hover {
    color: #a970ff;
}

/* Active page */

.nav-links a.active {
    color: #a970ff;
}

/* Purple underline */

.nav-links a:not(.contact-button)::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 0;
    height: 2px;

    background-color: #a970ff;

    transition: width 0.2s ease;
}

.nav-links a:not(.contact-button):hover::after,
.nav-links a.active::after {
    width: 100%;
}

/* Contact Button */

.nav-links .contact-button {
    border: 2px solid #a970ff;
    border-radius: 10px;

    padding: 12px 18px;

    color: #a970ff;
}

.nav-links .contact-button:hover {
    background-color: #a970ff;
    color: #0f0f14;
}

#about {
    padding: 50px 0px;
    text-align: center;
}
.about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0px;
}

.about h1 {
    text-align: center;
    font-size: 36px;

}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 60px;

    max-width: 1200px;
    margin: 0 auto;
}

.about-text {
    flex: 1;
}

.about-text p {
    font-size: 17px;
    text-align: left;
    line-height: 1.2;
    color: #b8b8c3;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    height: auto;

    border-radius: 15px;
}
#skills h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}